<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a la practica de GitHub Actions <%= title %></p>
    <h1>practica Javier</h1>
  </body>
</html>
